body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#sekcja1 {
    background-color: red;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

#sekcja2 {
    background-color: yellow;
    color: black;
    padding: 20px;
    margin-top: 20px;
}