/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #FFC300; /* Żółty */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #FF5733; /* Czerwony */
    font-weight: bold;
}

h2 {
    color: #FF5733; /* Czerwony */
}

form {
    margin: 20px;
    padding: 20px;
    border: 2px solid #FF5733; /* Czerwony */
    border-radius: 10px;
    animation: pulse 2s infinite;
}

form label {
    color: #FFC300; /* Żółty */
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #FF5733; /* Czerwony */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #C70039;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
